In [1]:
import pandas as pd
import dvc.api as DvcApi
import cohere

In [2]:
import sys, os

sys.path.append(os.path.abspath(os.path.join("../..")))
sys.path.append(os.path.abspath(os.path.join("../scripts")))

In [3]:
import os
from dotenv import load_dotenv #, find_dotenv

In [4]:
# dotenv_path = find_dotenv(usecwd=True)
# load_dotenv(dotenv_path ,encoding='utf-16')
load_dotenv(encoding='utf-16')

api_key = os.getenv('apikey')

In [6]:
# Paste your API key here. Remember to not share publicly

# Create and retrieve a Cohere API key from os.cohere.ai
co = cohere.Client(api_key)

# Named Entity Recognition (NER)  with Generative Model of Cohere

In this notebook we use Cohere's generative models to extract entities from a job description. We make use of sturctured generation based on providing multiple examples in the prompt.

The data are job descriptions (together named entities) and relationships between entities in json format. In this preliminary work we will not consider the relationships as NER alone is not enough to achieve this.

- Dataset 1: For development and training
- Dataset 2: For testing and final reporting

In [ ]:
# Paste your API key here. Remember to not share publicly
api_key = 'qPKnuy0sl0o4eg2bQ9nOe6qVmzTZoYcZT28DXvoN'

# Create and retrieve a Cohere API key from os.cohere.ai
co = cohere.Client(api_key)

## Preparing examples for the prompt

In our prompt, we'll present the model with examples of job descriptions and the type of output we're after.

In [7]:
path = "data/relations_dev.json"
repo = "../"
version = "v2"

data_url = DvcApi.get_url(path = path, repo = repo, rev = version) #could be tag or git commit
data_dev = pd.read_json(data_url)

In [8]:
data_dev.head(2)

,document,tokens,relations
0,Bachelor's degree in Mechanical Engineering or...,"[{'text': 'Bachelor', 'start': 0, 'end': 8, 't...","[{'child': 4, 'head': 0, 'relationLabel': 'DEG..."
1,10+ years of software engineering work experie...,"[{'text': '10+ years', 'start': 0, 'end': 9, '...","[{'child': 4, 'head': 0, 'relationLabel': 'EXP..."

In [11]:
data_dev.tokens

0     [{'text': 'Bachelor', 'start': 0, 'end': 8, 't...
1     [{'text': '10+ years', 'start': 0, 'end': 9, '...
2     [{'text': '3+ years', 'start': 0, 'end': 8, 't...
3     [{'text': '8+ years', 'start': 0, 'end': 8, 't...
4     [{'text': 'BS', 'start': 0, 'end': 2, 'token_s...
5     [{'text': '8+ years', 'start': 0, 'end': 8, 't...
6     [{'text': '2+ years', 'start': 773, 'end': 781...
7     [{'text': 'BS/MS', 'start': 66, 'end': 71, 'to...
8     [{'text': '5 + years', 'start': 12, 'end': 21,...
9     [{'text': 'BS', 'start': 0, 'end': 2, 'token_s...
10    [{'text': 'BS', 'start': 51, 'end': 53, 'token...
11    [{'text': 'Bachelor', 'start': 0, 'end': 8, 't...
12    [{'text': '1+ years', 'start': 0, 'end': 8, 't...
13    [{'text': '5+ years', 'start': 1, 'end': 9, 't...
14    [{'text': '8+ years', 'start': 425, 'end': 433...
17    [{'text': 'BS/MS', 'start': 10, 'end': 15, 'to...
18    [{'text': 'BA/BS degree', 'start': 447, 'end':...
19    [{'text': 'Bachelor', 'start': 9, 'end': 17, '...
20    [{'text': '5 + years', 'start': 43, 'end': 52,...
21    [{'text': '7+ years', 'start': 13, 'end': 21, ...
Name: tokens, dtype: object